Repository Phobos-developers/Phobos, pull requests merged in 2021-04, with the labels that each got.

#102 Feature/shield
  Phobos.vcxproj
  README.md
  docs/New-or-Enhanced-Logics.md
  docs/_static/images/technoshield-01.gif
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Shield.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Misc/Shield.cpp
  src/Misc/Shield.h
  src/Misc/Stream.h
Labels: Feature / Enhancement, New logic

#141 Allow user to Disable spesific bolt from ElectricBolt Weapon
  Phobos.vcxproj
  README.md
  docs/Fixed-or-Improved-Logics.md
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
  src/Ext/WeaponType/Hook.EBolt.cpp
Labels: Fixed / improved logic, Reused / expanded logic

#180 Customizable amount of ore cells spawned per animation
  docs/Fixed-or-Improved-Logics.md
  src/Ext/TerrainType/Body.cpp
  src/Ext/TerrainType/Body.h
  src/Ext/TerrainType/Hooks.cpp
  src/Utilities/GeneralUtils.cpp
  src/Utilities/GeneralUtils.h
Labels: Feature / Enhancement

#190 Fix units dying multiple times during their death anims
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: Fixed / Improved Logic
