Repository Phobos-developers/Phobos, pull requests merged in 2022-04, with the labels that each got.

#555 Refactor & fix grinding code
  src/Ext/Building/Body.cpp
  src/Ext/Building/Body.h
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/Techno/Hooks.Grinding.cpp
Labels: Tested

#559 Local warhead screen shaking
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
Labels: Tested

#561 Feedback weapons & detaching weapons from owner
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.cpp
  src/Ext/Bullet/Hooks.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/TechnoType/Hooks.Teleport.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: Tested, Fix and merge this

#544 Terrain & ore overlay minimap color customization
  Phobos.vcxproj
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/TerrainType/Body.cpp
  src/Ext/TerrainType/Body.h
  src/Ext/TerrainType/Hooks.cpp
  src/Ext/Tiberium/Body.cpp
  src/Ext/Tiberium/Body.h
  src/Ext/Tiberium/Hooks.cpp
  src/Phobos.Ext.cpp
Labels: Tested, Fix and merge this

#535 Small shield improvements / additions
  docs/New-or-Enhanced-Logics.md
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Detonate.cpp
  src/New/Entity/ShieldClass.cpp
  src/New/Entity/ShieldClass.h
  src/New/Type/ShieldTypeClass.cpp
Labels: Tested

#572 Single-color lasers (that respect thickness) & laser glow improvements
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
  src/Misc/Hooks.LaserDraw.cpp
  src/Utilities/GeneralUtils.cpp
  src/Utilities/GeneralUtils.h
Labels: Tested

#556 Fix mind control indicator animations not reappearing on uncloak
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
Labels: Tested

#562 Custom projectile trajectories
  Phobos.vcxproj
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Body.cpp
  src/Ext/Bullet/Body.h
  src/Ext/Bullet/Hooks.cpp
  src/Ext/Bullet/Trajectories/BombardTrajectory.cpp
  src/Ext/Bullet/Trajectories/BombardTrajectory.h
  src/Ext/Bullet/Trajectories/PhobosTrajectory.cpp
  src/Ext/Bullet/Trajectories/PhobosTrajectory.h
  src/Ext/Bullet/Trajectories/SampleTrajectory.cpp
  src/Ext/Bullet/Trajectories/SampleTrajectory.h
  src/Ext/Bullet/Trajectories/StraightTrajectory.cpp
  src/Ext/Bullet/Trajectories/StraightTrajectory.h
  src/Ext/BulletType/Body.cpp
  src/Ext/BulletType/Body.h
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: Tested

#548 Building Placement Preview
  docs/User-Interface.md
  docs/_static/images/placepreview.png
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/BuildingType/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Phobos.cpp
  src/Phobos.h
  src/Utilities/Constructs.h
  src/Utilities/EnumFunctions.cpp
  src/Utilities/EnumFunctions.h
  src/Utilities/Macro.h
  src/Utilities/TemplateDef.h
Labels: Tested

#595 Unit auto-death enhancement: allow peaceful removal from the game
  docs/New-or-Enhanced-Logics.md
  src/Ext/Techno/Body.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested

#532 Units retaining orders after changing ownership bugfix
  src/Misc/CaptureManager.cpp
Labels: Needs improvement
