Repository Phobos-developers/Phobos, pull requests merged in 2022-07, with the labels that each got.

#659 OpenTopped transport rangefinding / toggling firing if deactivated customizations
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested

#635 Reimplemented animation damage / weapon /w improvements
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Aircraft/Hooks.cpp
  src/Ext/Anim/Body.cpp
  src/Ext/Anim/Body.h
  src/Ext/AnimType/Body.cpp
  src/Ext/AnimType/Body.h
  src/Ext/AnimType/Hooks.AnimCreateUnit.cpp
  src/Ext/AnimType/Hooks.cpp
  src/Ext/Building/Hooks.cpp
  src/Ext/Bullet/Hooks.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Hooks.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: Tested, Fix and merge this

#686 Radiation improvements
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Body.cpp
  src/Ext/RadSite/Body.cpp
  src/Ext/RadSite/Body.h
  src/Ext/RadSite/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
  src/Misc/Hooks.BugFixes.cpp
  src/New/Type/RadTypeClass.cpp
  src/New/Type/RadTypeClass.h
Labels: Needs testing

#657 Implement C3 translucent SHP blitter fixes
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  docs/_static/images/translucency-fix.png
  src/Misc/BlittersFix.cpp
  src/Misc/BlittersFix.h
  src/Phobos.cpp
Labels: Needs testing

#684 Allow detonating weapon warhead on all map objects
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Body.cpp
  src/Ext/Bullet/Hooks.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Utilities/Enum.h
  src/Utilities/EnumFunctions.cpp
  src/Utilities/EnumFunctions.h
  src/Utilities/TemplateDef.h
Labels: Needs testing

#698 Retain IronCurtain effect upon DeploysInto/UndeploysInto
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/_static/images/preserve-ic.gif
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Shield.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Fix and merge this

#630 [4 features]Unit self-destruction logic fully extended+ Slaves' house decision when owner killed+ Building Sold EVA&Sound dehardcode
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.VehicleToBuildingMCFix.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Utilities/Enum.h
  src/Utilities/TemplateDef.h
Labels: Needs testing

#638 Extend parallel AI queues
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.cpp
  src/Ext/House/Body.cpp
  src/Ext/House/Body.h
  src/Phobos.cpp
  src/Phobos.h
Labels: Needs testing
