Repository Phobos-developers/Phobos, pull requests merged in 2022-01, with the labels that each got.

#465 Occupied Buildinng MuzzleFlashX Bug Fix
  Phobos.vcxproj
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/BuildingType/Hooks.cpp
Labels: Vanilla bug, Tested

#189 Infantry DeployFireWeapon change
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  src/Ext/Techno/Hooks.cpp
Labels: Feature / Enhancement, Tested, Ready

#491 Power delta counter for the sidebar
  Phobos.vcxproj
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/_static/images/powerdelta-01.gif
  src/Ext/Side/Body.cpp
  src/Ext/Side/Body.h
  src/Misc/Hooks.UI.cpp
  src/Phobos.cpp
  src/Phobos.h
  src/Utilities/Enum.h
  src/Utilities/TemplateDef.h
Labels: Tested

#419 Action Script 113: Conditional skip next action
  README.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Script/Body.cpp
  src/Ext/Script/Body.h
Labels: Needs testing

#476 Refactor ExtendedToolTip
  Phobos.vcxproj
  src/Misc/ExtendedToolTips.h
  src/Misc/PhobosToolTip.cpp
  src/Misc/PhobosToolTip.h
  src/Phobos.cpp
  src/Phobos.version.h
Labels: Needs improvement

#499 Added PassengerDeletion.Anim
  docs/New-or-Enhanced-Logics.md
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested

#506 Allow `EnemyUIName` to be used for other TechnoTypes
  README.md
  docs/Whats-New.md
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/TechnoType/Hooks.cpp
Labels: Fixed / Improved Logic, Needs testing

#427 Some simple addition to Terrain type
  src/Ext/TerrainType/Body.cpp
  src/Ext/TerrainType/Body.h
  src/Ext/TerrainType/Hooks.cpp
Labels: Tested
