Repository Phobos-developers/Phobos, pull requests merged in 2022-02, with the labels that each got.

#519 Lasertrails fixes when units enter/leave transports
  src/Ext/Techno/Hooks.cpp
Labels: Needs testing

#524 Customization of the storage resource
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Body.cpp
  src/Ext/Building/Body.h
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/House/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
Labels: Tested

#515 Self-fire weapons on warping in / out
  README.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/TechnoType/Hooks.Teleport.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: Tested

#518 Grinder improvements / additions
  Phobos.vcxproj
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Body.cpp
  src/Ext/Building/Body.h
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/Techno/Hooks.Grinding.cpp
Labels: Tested, Fix and merge this

#507 Replace DeployDir customization with DeployingAnim.AllowAnyDirection
  docs/Fixed-or-Improved-Logics.md
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/TechnoType/Hooks.cpp
Labels: Tested, Fix and merge this

#536 Allow centering attached anims on object center
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/AnimType/Body.cpp
  src/Ext/AnimType/Body.h
  src/Ext/AnimType/Hooks.cpp
Labels: Tested
