Repository Phobos-developers/Phobos, pull requests merged in 2022-10, with the labels that each got.

#772 [Minor] Hotfix Image swapping when loading a savefile
  src/Misc/Hooks.Image.cpp
Labels: Minor

#766 Warhead / weapon detonation at superweapon target cell
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Body.cpp
  src/Ext/Building/Body.h
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/SWType/Body.cpp
  src/Ext/SWType/Body.h
  src/Ext/SWType/FireSuperWeapon.cpp
Labels: Fix and merge this

#722 Dehardcode SP campaign AI's ability of auto-repairing structures built from base nodes / trigger action 125/ SW delivery
  CREDITS.md
  docs/AI-Scripting-and-Mapping.md
  docs/Whats-New.md
  src/Ext/House/Body.cpp
  src/Ext/House/Body.h
  src/Ext/House/Hooks.cpp
  src/Ext/TAction/Hooks.cpp
Labels: Vanilla bug, Tested, Fix and merge this

#759 Custom SpyEffects
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Body.cpp
  src/Ext/Building/Body.h
  src/Ext/Building/Hooks.cpp
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
Labels: Fix and merge this

#782 Fix subterranean transports in "Move To..." script actions
  src/Ext/Script/Body.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
Labels: Minor

#779 Fix teams spawned by trigger action 7,80,107 cannot use IFV or opentopped logic
  CREDITS.md
  Phobos.vcxproj
  docs/AI-Scripting-and-Mapping.md
  docs/Whats-New.md
  src/Ext/House/Hooks.cpp
  src/Ext/Team/Hooks.cpp
Labels: Tested, Fix and merge this

#764 RadialIndicator visible to observer/allies & Different PowerDelta label when power sabotaged
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Side/Body.cpp
  src/Ext/Side/Body.h
  src/Misc/Hooks.UI.cpp
  src/Phobos.cpp
  src/Phobos.h
  src/Utilities/EnumFunctions.cpp
Labels: Tested
