Repository Phobos-developers/Phobos, pull requests merged in 2022-05, with the labels that each got.

#626 Jumpjet facing bugfix: Jumpjet units face towards target when firing from different directions
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Fix and merge this

#488 Timed Jump Actions 124-126
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Script/Body.cpp
  src/Ext/Script/Body.h
  src/Ext/Script/Hooks.cpp
  src/Ext/Team/Body.cpp
  src/Ext/Team/Body.h
Labels: Tested, Fix and merge this

#590 FlyingStrings / TransactMoney.Display / Grinding.DisplayRefund / Display damage hotkey command
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Miscellanous.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Commands/Commands.cpp
  src/Commands/DamageDisplay.h
  src/Ext/Building/Body.cpp
  src/Ext/Building/Body.h
  src/Ext/Building/Hooks.cpp
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Detonate.cpp
  src/Misc/FlyingStrings.cpp
  src/Misc/FlyingStrings.h
  src/Misc/Hooks.UI.cpp
  src/New/Entity/ShieldClass.cpp
  src/Phobos.cpp
  src/Phobos.h
Labels: Tested, Fix and merge this

#588 Shield animation & pip customizations
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/New/Entity/ShieldClass.cpp
  src/New/Entity/ShieldClass.h
  src/New/Type/ShieldTypeClass.cpp
  src/New/Type/ShieldTypeClass.h
  src/Utilities/GeneralUtils.cpp
  src/Utilities/GeneralUtils.h
  src/Utilities/Template.h
  src/Utilities/TemplateDef.h
Labels: Tested, Needs testing

#551 Building-provided self-healing customization
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Misc/Hooks.BugFixes.cpp
  src/Utilities/Enum.h
  src/Utilities/TemplateDef.h
Labels: Tested, Fix and merge this

#594 Implement passable & buildable-upon TerrainTypes
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/TerrainType/Body.cpp
  src/Ext/TerrainType/Body.h
  src/Ext/TerrainType/Hooks.Passable.cpp
  src/Ext/TerrainType/Hooks.cpp
Labels: Tested

#625 Toggle for automatic passenger owner change to match transport
  CREDITS.md
  Phobos.vcxproj
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Transport.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Fix and merge this

#632 Launch superweapons using warhead
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  src/Ext/SWType/Body.cpp
  src/Ext/SWType/Body.h
  src/Ext/SWType/FireSuperWeapon.cpp
  src/Ext/Script/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Detonate.cpp
Labels: Tested, Fix and merge this
