Repository Phobos-developers/Phobos, pull requests merged in 2022-09, with the labels that each got.

#738 Fix turreted jumpjet units always facing bottom-right direction when stop firing
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.VehicleToBuildingMCFix.cpp
  src/Ext/Unit/Hooks.Jumpjet.cpp
Labels: Tested, Fix and merge this

#741 [Hotfix] 3bf6c5e and c72b14a
  src/Ext/Bullet/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/TechnoType/Body.cpp
Labels: Fix and merge this

#740 Performance refactor: Detach shield anim pointer invalidation from techno
  CREDITS.md
  docs/Whats-New.md
  src/Ext/Techno/Body.h
  src/New/Entity/ShieldClass.cpp
  src/New/Entity/ShieldClass.h
  src/Phobos.Ext.cpp
Labels: Fix and merge this, Needs testing

#721 Add IgnoreDesignator option for LaunchSW, Refactor ParallelAIQueue & SWTypeExt;
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.cpp
  src/Ext/House/Body.h
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/SWType/Body.cpp
  src/Ext/SWType/Body.h
  src/Ext/SWType/FireSuperWeapon.cpp
  src/Ext/SWType/Hooks.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Detonate.cpp
  src/Phobos.cpp
  src/Phobos.h
Labels: Tested

#744 Fix jumpjets' Sensors being unable to detect cloaked objects (temporarily)
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/TechnoType/Hooks.cpp
  src/Ext/Unit/Hooks.Jumpjet.cpp
Labels: Vanilla bug, Needs testing

#737 Customizable Tooltip background
  CREDITS.md
  Phobos.vcxproj
  docs/User-Interface.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Side/Body.cpp
  src/Ext/Side/Body.h
  src/Ext/Surface/Body.cpp
  src/Ext/Surface/Body.h
  src/Misc/PhobosToolTip.cpp
  src/Phobos.cpp
  src/Phobos.h
Labels: Feature / Enhancement, Tested

#493 MakeInfantry logic on BombClass resulting on `Neutral` side infantry BugFix
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
  src/New/Entity/ShieldClass.cpp
  src/Utilities/Macro.h
Labels: Vanilla bug, Tested, Needs Update

#748 Refactoring PlacementPreview
  CREDITS.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/_static/css/index.css
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/BuildingType/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Phobos.cpp
  src/Phobos.h
  src/Utilities/Constructs.cpp
  src/Utilities/Constructs.h
  src/Utilities/EnumFunctions.cpp
  src/Utilities/EnumFunctions.h
  src/Utilities/GeneralUtils.cpp
  src/Utilities/GeneralUtils.h
  src/Utilities/SavegameDef.h
  src/Utilities/TemplateDef.h
Labels: Needs improvement
