Repository Phobos-developers/Phobos, pull requests merged in 2023-02, with the labels that each got.

#835 Break the mind-control link when capturing a mind-controlled building with an engineer
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/CaptureManager/Hooks.cpp
Labels: Needs testing

#765 Multiple Burst shots during same infantry firing sequence
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: Needs testing, Minor

#734 Attached particle system for animations
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Anim/Body.cpp
  src/Ext/Anim/Body.h
  src/Ext/Anim/Hooks.cpp
  src/Ext/AnimType/Body.cpp
  src/Ext/AnimType/Body.h
Labels: Needs testing

#745 Remove hardcoded AA/Gattling weapon selection restrictions
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Needs testing

#816 Projectile obstacle logic additions
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.Obstacles.cpp
  src/Ext/Bullet/Hooks.cpp
  src/Ext/BulletType/Body.cpp
  src/Ext/BulletType/Body.h
Labels: Tested, Fix and merge this

#799 JumpjetTurnToTarget: The correct fix, and OmniFire.TurnToTarget
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/Unit/Hooks.Jumpjet.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: Fix and merge this

#830 `AutoDeath` logic support for limboed objects
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/House/Body.cpp
  src/Ext/House/Body.h
  src/Ext/House/Hooks.cpp
  src/Ext/SWType/FireSuperWeapon.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
Labels: Needs testing, Minor

#842 [Minor] Change CampaignDefaultGameSpeed patching method
  src/Phobos.cpp
Labels: Minor

#775 Display the money when harvesters/slaves dock to refineries
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  src/Ext/Building/Body.cpp
  src/Ext/Building/Body.h
  src/Ext/Building/Hooks.IncomeAndSelling.cpp
  src/Ext/Building/Hooks.cpp
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Misc/FlyingStrings.cpp
  src/Misc/FlyingStrings.h
Labels: Needs testing
