Repository Phobos-developers/Phobos, pull requests merged in 2023-08, with the labels that each got.

#1121 Fix arcing elevation bug for most part
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Body.h
  src/Ext/Bullet/Hooks.cpp
  src/Ext/BulletType/Body.cpp
  src/Ext/BulletType/Body.h
Labels: Fix and merge this

#1120 Fix issues with AutoDeath and limbo interactions
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Body.cpp
  src/Ext/Building/Body.h
  src/Ext/BuildingType/Body.cpp
  src/Ext/House/Body.cpp
  src/Ext/House/Body.h
  src/Ext/House/Hooks.cpp
  src/Ext/SWType/FireSuperWeapon.cpp
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.h
Labels: Fix and merge this, Minor

#1124 Show designator & inhibitor range
  CREDITS.md
  Phobos.vcxproj
  docs/User-Interface.md
  docs/Whats-New.md
  src/Commands/Commands.cpp
  src/Commands/ToggleDesignatorRange.cpp
  src/Commands/ToggleDesignatorRange.h
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/SWType/Body.cpp
  src/Ext/SWType/Body.h
  src/Ext/SWType/Hooks.cpp
  src/Phobos.INI.cpp
  src/Phobos.h
Labels: Feature / Enhancement
