Repository Phobos-developers/Phobos, pull requests merged in 2023-01, with the labels that each got.

#802 Units retaining orders after changing ownership bugfix (again)
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.cpp
  src/Ext/CaptureManager/Body.cpp
  src/Ext/CaptureManager/Body.h
  src/Ext/CaptureManager/Hooks.cpp
  src/Ext/Techno/Hooks.VehicleToBuildingMCFix.cpp
Labels: Needs testing

#820 Allow jumpjet to crash without rotation
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/Unit/Hooks.Jumpjet.cpp
Labels: Tested

#819 Custom SlavesFreeSound
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/TechnoType/Hooks.cpp
Labels: Tested

#821 [Minor] Make ExtMap iterable
  src/Ext/Bullet/Body.cpp
  src/Ext/RadSite/Body.cpp
  src/Ext/RadSite/Body.h
  src/Ext/RadSite/Hooks.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/WarheadType/Detonate.cpp
  src/Utilities/Container.h
Labels: Needs testing, Minor

#823 Fix LimboDelivery buildings counting in AI base center calculations
  src/Ext/House/Body.cpp
  src/Ext/House/Body.h
  src/Ext/House/Hooks.cpp
  src/Ext/SWType/FireSuperWeapon.cpp
Labels: Tested, Minor

#818 The option to limit random crate generation only on land + sampling mechanism fix
  CREDITS.md
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Misc/Hooks.BugFixes.cpp
Labels: Needs testing
