Repository Phobos-developers/Phobos, pull requests merged in 2023-06, with the labels that each got.

#840 [Minor] Add Ares integration mechanism
  .vscode/c_cpp_properties.example.json
  CREDITS.md
  Phobos.vcxproj
  lib/.editorconfig
  lib/nameof/nameof.h
  src/Phobos.cpp
  src/Phobos.h
  src/Utilities/AresAddressTable.cpp
  src/Utilities/AresFunctions.h
  src/Utilities/AresHelper.cpp
  src/Utilities/AresHelper.h
  src/Utilities/Debug.cpp
  src/Utilities/Debug.h
Labels: Interaction, Fix and merge this, Minor

#841 TechnoType conversion warhead (split)
  CREDITS.md
  Phobos.vcxproj
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/SWType/Body.cpp
  src/Ext/SWType/Body.h
  src/Ext/SWType/FireSuperWeapon.cpp
  src/Ext/Techno/Body.Internal.cpp
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Detonate.cpp
  src/Misc/TypeConvertHelper.cpp
  src/Misc/TypeConvertHelper.h
Labels: Feature / Enhancement, Interaction, Fix and merge this

#862 Unlimited skirmish player colors
  CREDITS.md
  docs/Miscellanous.md
  docs/Whats-New.md
  src/Phobos.INI.cpp
  src/Phobos.h
Labels: Feature / Enhancement

#1092 [Minor] Re-fix jumpjet initial facing
  src/Ext/Unit/Hooks.Jumpjet.cpp
  src/Misc/Hooks.BugFixes.cpp
Labels: Minor
