Repository Phobos-developers/Phobos, pull requests merged in 2024-07, with the labels that each got.

#1274 Couple of minor digital display improvements
  docs/User-Interface.md
  docs/Whats-New.md
  src/Ext/Techno/Body.Visuals.cpp
  src/New/Type/DigitalDisplayTypeClass.cpp
  src/New/Type/DigitalDisplayTypeClass.h
Labels: Minor

#691 New action 134 Jump Back To Previous Script after action 94
  CREDITS.md
  docs/AI-Scripting-and-Mapping.md
  docs/Whats-New.md
  src/Ext/Script/Body.cpp
  src/Ext/Script/Body.h
  src/Ext/Team/Body.cpp
  src/Ext/Team/Body.h
Labels: Needs Update

#1319 [Minor][Needs testing] Attempt to fix the ReloadInTransport crash
  src/Ext/House/Body.cpp
  src/Ext/House/Body.h
  src/Ext/House/Hooks.cpp
  src/Ext/SWType/FireSuperWeapon.cpp
  src/Ext/Scenario/Body.cpp
  src/Ext/Scenario/Body.h
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Hooks.Transport.cpp
Labels: Needs testing, Minor
