Repository Phobos-developers/Phobos, pull requests merged in 2024-08, with the labels that each got.

#1258 Customizable Rocker Amplitude
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Hooks.cpp
Labels: Needs improvement

#1327 [Minor] - about FrameByFrame csflabel error and some supplementation of documents.Some minor edit
  docs/User-Interface.md
  docs/Whats-New.md
  src/Commands/FrameByFrame.cpp
Labels: Minor

#1305 Fix PowersUpToLevel > 0 upgrade animation inconsistencies
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Body.cpp
  src/Ext/Building/Body.h
  src/Ext/BuildingType/Hooks.Upgrade.cpp
Labels: Vanilla bug, Tested, Minor

#1270 SimpleDeployer fixes for Hover locomotor units
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/TechnoType/Hooks.cpp
  src/Ext/Unit/Hooks.Unload.cpp
Labels: Interaction, Tested, Minor

#1226 Nonprovocative Warheads
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Hooks.cpp
Labels: Needs testing
