Repository Phobos-developers/Phobos, pull requests merged in 2024-09, with the labels that each got.

#1378 [Minor] Fix LimboKill function
  CREDITS.md
  docs/Whats-New.md
  src/Ext/SWType/FireSuperWeapon.cpp
Labels: Minor

#1387 Assign Super Weapon cameo to any sidebar tab
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/SWType/Body.cpp
  src/Ext/SWType/Body.h
  src/Ext/SWType/Hooks.cpp
Labels: Fix and merge this

#1350 Two skirmish AI behavior dehardcoded and a minor improvement
  CREDITS.md
  docs/AI-Scripting-and-Mapping.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/House/Body.cpp
  src/Ext/House/Body.h
  src/Ext/House/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Scenario/Body.cpp
  src/Ext/Techno/Hooks.Misc.cpp
Labels: Fixed / Improved Logic
