Repository Phobos-developers/Phobos, pull requests merged in 2024-05, with the labels that each got.

#1255 [Minor] Attempt to weaken radside desync
  src/Ext/RadSite/Hooks.cpp
  src/Ext/Side/Body.cpp
  src/Ext/WarheadType/Detonate.cpp
  src/Utilities/Container.h
Labels: Phobos bug, Minor

#1227 Spawn crates /w Warheads & minor crate improvements
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Detonate.cpp
  src/Misc/Hooks.BugFixes.cpp
  src/Misc/Hooks.Crates.cpp
  src/Utilities/TemplateDef.h
Labels: Tested

#826 AttachEffect / Custom tints / Revenge weapons / Warhead effect Verses requirement change
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Anim/Body.cpp
  src/Ext/Anim/Body.h
  src/Ext/Building/Hooks.cpp
  src/Ext/Bullet/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Script/Mission.Attack.cpp
  src/Ext/Techno/Body.Internal.cpp
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.AttachEffect.cpp
  src/Ext/Techno/Hooks.DeploysInto.cpp
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/Techno/Hooks.Shield.cpp
  src/Ext/Techno/Hooks.Tint.cpp
  src/Ext/Techno/Hooks.WeaponRange.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/Techno/WeaponHelpers.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/TechnoType/Hooks.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Detonate.cpp
  src/Ext/WarheadType/Hooks.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
  src/New/Entity/AttachEffectClass.cpp
  src/New/Entity/AttachEffectClass.h
  src/New/Entity/ShieldClass.cpp
  src/New/Entity/ShieldClass.h
  src/New/Type/AttachEffectTypeClass.cpp
  src/New/Type/AttachEffectTypeClass.h
  src/New/Type/ShieldTypeClass.cpp
  src/New/Type/ShieldTypeClass.h
  src/Phobos.Ext.cpp
  src/Utilities/Constructs.cpp
  src/Utilities/Constructs.h
  src/Utilities/Enum.h
  src/Utilities/GeneralUtils.cpp
  src/Utilities/GeneralUtils.h
  src/Utilities/INIParser.h
  src/Utilities/TemplateDef.h
Labels: Major, Tested, Fix and merge this
