Repository Phobos-developers/Phobos, pull requests merged in 2024-03, with the labels that each got.

#1217 Fix issue #1216
  src/Ext/Unit/Hooks.Jumpjet.cpp
Labels: Vanilla bug, Tested, Minor

#1214 Fix unarmed infantry executes capture mission and triggers EnteredBy event when waypointing with an engineer/agent into a building
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.Grinding.cpp
Labels: Vanilla bug, Tested

#1219 Fix LimboKill not working properly, Fix LimboDeliver doubles OrePurifier multiplier
  src/Ext/SWType/FireSuperWeapon.cpp
Labels: Needs testing, Minor

#1233 Refactor hooks in veinhole code
  src/Ext/Anim/Body.cpp
  src/Misc/Hooks.VeinholeMonster.cpp
Labels: Minor
