Repository Phobos-developers/Phobos, pull requests merged in 2024-12, with the labels that each got.

#1419 [Minor] Fix develop branch's `DiskLaser=yes` error
  src/Ext/Techno/Hooks.Firing.cpp
Labels: Minor

#1417 Fix invisible placement created by Ares' abduction
  CREDITS.md
  docs/Whats-New.md
  src/Misc/Hooks.Ares.cpp
  src/Utilities/AresAddressInit.cpp
  src/Utilities/AresFunctions.h
Labels: Needs testing, Minor

#1445 [Minor] Fix build-45’s issue of excessive cell spread effect range
  src/Utilities/Helpers.Alex.h
Labels: Minor

#1454 [Minor] Fix an error in a Markdown formatted character in the document.
  docs/Fixed-or-Improved-Logics.md
Labels: Minor

#1457 [Minor]Fix an incorrect flag in the document
  docs/New-or-Enhanced-Logics.md
Labels: Minor

#1456 [Minor] [Ares Fix] Ares academy fix
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
  src/Utilities/AresAddressInit.cpp
  src/Utilities/AresFunctions.h
Labels: Interaction, Fixed / Improved Logic, Fix and merge this

#1462 [Minor] Phobos Tester Credits
  CREDITS.md
Labels: Minor

#1283 Fix Ares' InitialPayload for teams spawned by trigger actions
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Team/Hooks.cpp
Labels: Interaction, Fixed / Improved Logic, Needs testing, Minor
