Repository Phobos-developers/Phobos, pull requests merged in 2025-01, with the labels that each got.

#1489 [Minor] Fix technos unable to stop the area guard mission
  docs/Fixed-or-Improved-Logics.md
  src/Misc/Hooks.BugFixes.cpp
Labels: Minor

#1490 [Minor] Fix a RE caused by `DeployToFire`
  src/Misc/Hooks.BugFixes.cpp
Labels: Minor

#1463 [Minor] Update Trajectory Template and Uniform Trajectory Modifications
  src/Ext/Bullet/Hooks.cpp
  src/Ext/Bullet/Trajectories/PhobosTrajectory.cpp
  src/Ext/Bullet/Trajectories/SampleTrajectory.cpp
  src/Ext/Bullet/Trajectories/SampleTrajectory.h
Labels: Minor

#1500 [Minor] Fix two issues of enhanced straight trajectory
  src/Ext/Bullet/Trajectories/StraightTrajectory.cpp
Labels: Minor

#1503 [Minor] Fix `ExtraWarheads` always read the last setting
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
Labels: Minor

#1506 [Highly Customized] Enable Building Production Queue
  CREDITS.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/_static/images/buildingQueue.png
  src/Ext/Building/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
Labels: Tested, Needs improvement, Fix and merge this

#1507 [Minor] Fix Defenses Production Queue's Issue
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/House/Body.cpp
  src/Ext/House/Hooks.cpp
Labels: Minor

#1508 [Minor] Fix building production queue issue
  src/Ext/Building/Hooks.cpp
  src/Ext/House/Hooks.cpp
  src/Ext/Sidebar/Body.cpp
  src/Ext/Sidebar/Body.h
  src/Misc/Hooks.Ares.cpp
Labels: Minor

#1509 [Minor] Fix Doc
  docs/AI-Scripting-and-Mapping.md
  docs/Fixed-or-Improved-Logics.md
  docs/Miscellanous.md
  docs/New-or-Enhanced-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
Labels: Minor

#1299 Allow vehicles to retain target on move command
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Needs improvement, Needs testing

#1514 Add powered infantry/vehicle/aircraft logic
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/House/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Misc/PhobosToolTip.cpp
  src/Phobos.INI.cpp
  src/Phobos.h
Labels: Fixed / Improved Logic
