Repository Phobos-developers/Phobos, pull requests merged in 2025-03, with the labels that each got.

#1537 [Minor] Interceptor.ApplyFirepowerMult
  docs/New-or-Enhanced-Logics.md
  src/Ext/Bullet/Body.cpp
  src/New/Type/Affiliated/InterceptorTypeClass.cpp
  src/New/Type/Affiliated/InterceptorTypeClass.h
Labels: Minor, ⚙️T1

#1466 [Simple Fix] Draw visual effects for airburst weapons
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Body.cpp
  src/Ext/Bullet/Body.h
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
  src/Ext/WeaponType/Hook.EBolt.cpp
Labels: Tested, Fix and merge this

#1471 [Customized] No rearm and reload in EMP or temporal
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.h
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Fix and merge this

#1292 [Customized] Technos recount current burst index
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Fix and merge this

#1403 [Minor] Shield armor inheritance customization
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/New/Entity/ShieldClass.cpp
  src/New/Type/ShieldTypeClass.cpp
  src/New/Type/ShieldTypeClass.h
Labels: Minor

#1552 Fix Pathfinding Bugs by Decoupling SpeedType from Hardcoded Values
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1, ❓Unhardcoding / Customization

#1561 [Minor] Fix art section reading bug
  src/Ext/BuildingType/Body.cpp
Labels: ❓Phobos bug, Minor, ⚙️T1

#1560 [Minor] Fix incorrect interaction between techno convertion and chrono weapon
  src/Ext/Techno/Body.cpp
  src/Misc/Hooks.Ares.cpp
Labels: ❓Phobos bug, Interaction, Minor, ⚙️T1

#1539 [Vanilla Fix] Fix amphibious harvesters can not automatically return to refineries with `WaterBound`
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1

#1324 [Minor] Fix AltNextScenario= not taking effect
  src/Ext/Scenario/Hooks.Variables.cpp
Labels: Minor, ⚙️T1

#1502 [Minor] Use SetAnimOwnerHouseKind to set owner for anim
  CREDITS.md
  docs/Whats-New.md
  src/Ext/Anim/Body.cpp
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Hooks.Teleport.cpp
  src/Ext/Unit/Hooks.Unload.cpp
  src/Ext/WarheadType/Detonate.cpp
  src/New/Entity/AttachEffectClass.cpp
  src/New/Entity/ShieldClass.cpp
  src/New/Type/Affiliated/DroppodTypeClass.cpp
Labels: Tested, Minor, ⚙️T1

#1446 Damaged Unit image
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Fix and merge this, ⚙️T1

#1349 Spawns Enhancement
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, ⚙️T1

#1569 [Vanilla Fix] Fix the incorrect interaction between cloaking and spawners / projs
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, Fix and merge this, ⚙️T1

#769 Override Target under EMP attack behavior
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/_static/images/forceweapon_emp.gif
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: ❓New feature, Fix and merge this, ⚙️T1

#1333 [Vanilla Fix & New Feature] Spawn returning enhancement
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.Internal.cpp
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: ❓New feature, ❓Vanilla bug, ⚙️T2

#1570 Improve aircraft area guard behaviour
  src/Ext/Aircraft/Hooks.cpp
Labels: ❓Phobos bug, Tested, Minor, ⚙️T1

#1288 [Customized] Technos keep range after firing
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.Obstacles.cpp
  src/Ext/Techno/Hooks.WeaponRange.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: Tested, ⚙️T1

#1291 [Customized] Projectile subject to ground check before firing
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.Obstacles.cpp
  src/Ext/BulletType/Body.cpp
  src/Ext/BulletType/Body.h
Labels: Tested, ⚙️T1

#1563 [Minor] `NoManualMove` for buildings
  docs/New-or-Enhanced-Logics.md
  src/Ext/Techno/Hooks.cpp
Labels: Tested, Minor, ⚙️T1

#1474 [Customized] Delay automatic attack on the controlled unit
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
  src/Ext/CaptureManager/Body.cpp
  src/Ext/CaptureManager/Body.h
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
Labels: Tested, ⚙️T1

#1579 Weekly Regular Documentation Revisions 03.17-03.23 - release v0.4
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/User-Interface.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/General-Info.po
  docs/locale/zh_CN/LC_MESSAGES/License.po
  docs/locale/zh_CN/LC_MESSAGES/Miscellanous.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
Labels: Minor, ⚙️T1

#1578 Weekly Regular Documentation Revisions 03.17-03.23 - develop
  docs/Contributing.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/General-Info.po
  docs/locale/zh_CN/LC_MESSAGES/License.po
  docs/locale/zh_CN/LC_MESSAGES/Miscellanous.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
Labels: Minor, ⚙️T1

#1586 `BombParachute` deglobalization
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.cpp
  src/Ext/BulletType/Body.cpp
  src/Ext/BulletType/Body.h
Labels: ⚙️T1, ❓Unhardcoding / Customization

#1571 Optimize per-frame update logic
  src/Ext/Building/Hooks.cpp
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Hooks.Teleport.cpp
Labels: Tested, Fix and merge this, Minor, ⚙️T2

#1587 Fixes & improvements to electric bolt handling
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Body.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
  src/Ext/WeaponType/Hook.EBolt.cpp
  src/Misc/Hooks.BugFixes.cpp
  src/Phobos.Ext.cpp
Labels: ❓Phobos bug, ❓Vanilla bug, Tested, Fix and merge this, ⚙️T1

#1589 [Minor] Fix `b6c545a9`‘s stack error
  src/Ext/Aircraft/Hooks.cpp
Labels: Minor

#1580 [Dehardcode] Sinking improvement
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/Unit/Hooks.Sinking.cpp
Labels: Tested, Fix and merge this, ⚙️T1, ❓Unhardcoding / Customization

#1592 [Vanilla Fix] Fixed an issue where `FireAngle` would not work properly under certain circumstances.
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1

#1584 [Minor] Weekly Regular Documentation Revisions 03.24-03.30 - release v0.4
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1583 [Minor] Weekly Regular Documentation Revisions 03.24-03.30 - develop
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1475 [Customized] Fast access vehicle
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Hooks.Transport.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Misc/Hooks.BugFixes.cpp
Labels: Tested, Fix and merge this, ⚙️T1

#1596 [Vanilla Fix] More `Stop` command fix
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1

#1594 [Minor] Aircraft early descend its flight level
  docs/Fixed-or-Improved-Logics.md
  src/Ext/Aircraft/Hooks.cpp
Labels: ❓New feature, Tested, Minor, ⚙️T1
