Repository Phobos-developers/Phobos, pull requests merged in 2025-09, with the labels that each got.

#1838 [Minor] Fix several issues
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Aircraft/Hooks.cpp
  src/Ext/Building/Hooks.cpp
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Hooks.Transport.cpp
Labels: ❓Phobos bug, Tested, Minor, ⚙️T1

#1380 [Minor] Randomized anims for several behaviors
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  src/Ext/Anim/Body.cpp
  src/Ext/Anim/Body.h
  src/Ext/AnimType/Body.h
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/TechnoType/Hooks.Teleport.cpp
  src/Ext/TerrainType/Body.cpp
  src/Ext/TerrainType/Body.h
  src/Ext/VoxelAnimType/Body.h
  src/Ext/WarheadType/Body.h
  src/New/Entity/ShieldClass.cpp
  src/New/Entity/ShieldClass.h
  src/New/Type/Affiliated/CreateUnitTypeClass.h
  src/New/Type/Affiliated/PassengerDeletionTypeClass.h
  src/New/Type/ShieldTypeClass.h
Labels: Tested, Minor, ⚙️T1

#1843 Fixed an issue that jumpjets in air can not correctly spawn missiles
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.Misc.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1

#1836 [Minor] Weekly Regular Documentation Revisions 09.01-09.07 - develop
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1841 Further adjustments to health threshold checks
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  src/Ext/Techno/Body.cpp
Labels: Minor, No Documentation Needed

#1844 [Customized] Allow the aircraft to enter area guard mission and not crash immediately without any airport
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Aircraft/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Misc/Hooks.BugFixes.cpp
Labels: Tested, ⚙️T1

#1835 [Minor] Weekly Regular Documentation Revisions 09.01-09.14 - release v0.4
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1845 [Minor] Weekly Regular Documentation Revisions 09.08-09.14 - develop
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor, No Documentation Needed

#1858 Weekly Regular Documentation Revisions 09.15-09.21 - develop
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
Labels: No Documentation Needed

#1857 Weekly Regular Documentation Revisions 09.15-09.28 - release v0.4
  docs/Fixed-or-Improved-Logics.md
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
Labels: No Documentation Needed

#1881 Allow retint fix to be disabled with `[AudioVisual] -> UseRetintFix=no` in `rulesmd.ini`
  docs/Fixed-or-Improved-Logics.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/TAction/Hooks.cpp
Labels: Tested, No Documentation Needed
