Repository Phobos-developers/Phobos, pull requests merged in 2025-10, with the labels that each got.

#1863 Fixed an issue that technos head to building's dock even they are not going to dock
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.Misc.cpp
Labels: ❓Vanilla bug, Needs testing, ⚙️T1

#1865 Fixed an issue that the jumpjet vehicles cannot stop correctly after going berserk
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, Minor, ⚙️T1, No Documentation Needed

#1878 Weekly Regular Documentation Revisions 09.29-10.05 - develop
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: No Documentation Needed

#1898 [Vanilla Fix]Fix the bug that techno unit will draw with ironcurtain and airstrike intensity who disguised as terrain or overlay
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.Tint.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1
