Repository Phobos-developers/Phobos, pull requests merged in 2025-04, with the labels that each got.

#1595 [Vanilla & Ares Fix] Fixed an issue that some amphibious technos being unable to enter on water structures
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.Grinding.cpp
  src/Ext/Techno/Hooks.Transport.cpp
  src/Misc/Hooks.Ares.cpp
Labels: ❓Vanilla bug, Interaction, Tested, ⚙️T1

#1590 [Vanilla Fix] Fix interaction issue between aircraft carriers and elevated bridges
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.Obstacles.cpp
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1

#1591 [Vanilla Fix] Fix jumpjet shadow issue on elevated bridge
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1

#1553 [Vanilla Enhancement] Enhance the laser, ebolt and rbeam drawing
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Body.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Hooks.WeaponEffects.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: ❓New feature, ❓Vanilla bug, Tested, ⚙️T1

#1554 Modify AlphaImage respawn logic
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.AlphaImage.cpp
  src/Utilities/AresAddressInit.cpp
  src/Utilities/AresFunctions.h
Labels: Tested, Fix and merge this, ⚙️T1

#1599 [Vanilla Fix] Fixed the bug that healing weapons could not automatically acquire aerial targets
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.TargetEvaluation.cpp
Labels: ❓Vanilla bug, Tested, Minor, ⚙️T1

#1353 Allow voxel bullet to use AnimPalette and FirersPalette
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: Tested, Fix and merge this, ⚙️T1

#1600 [Vanilla Fix] Fixed an issue that AI would select unreachable buildings as target
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, Minor, ⚙️T1

#1605 [Minor] Fix wrong parameter in action 503
  docs/AI-Scripting-and-Mapping.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
Labels: Minor

#1606 [Dehardcode]Customize damaged speed
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, ⚙️T1, ❓Unhardcoding / Customization

#1604 [Dehardcode]Customize overpower logic
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.cpp
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
Labels: Tested, Fix and merge this, Minor, ⚙️T1, ❓Unhardcoding / Customization

#1598 [Minor] Weekly Regular Documentation Revisions 03.31-04.06 - release v0.4
  CREDITS.md
  docs/AI-Scripting-and-Mapping.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1597 [Minor] Weekly Regular Documentation Revisions 03.31-04.06 - develop
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/General-Info.po
  docs/locale/zh_CN/LC_MESSAGES/Miscellanous.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1614 [Minor]fix a bug that FirersPalette/AnimPalette on bullet may broke other bullet's palette
  src/Misc/Hooks.BugFixes.cpp
Labels: Minor

#1615 [Vanilla Fix] Fix an issue that units on the slope tilted at an excessive angle
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/TechnoType/Hooks.MatrixOp.cpp
Labels: ❓Vanilla bug, Tested, Fix and merge this, ⚙️T1

#1407 Forcing specific weapon by range
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/WeaponHelpers.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Fix and merge this, ⚙️T1

#1525 [Minor] Fix desync caused by units with `DeploysInto`
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/TerrainType/Hooks.Passable.cpp
  src/Ext/Unit/Hooks.DeploysInto.cpp
Labels: ❓Phobos bug, ❓Vanilla bug, Tested, Fix and merge this, Minor, ⚙️T1, ❓Crash / Desync

#1588 Fix Ares3.0p1 BuildingAnim issue
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.cpp
  src/Misc/Hooks.Ares.cpp
Labels: Tested, Fix and merge this, Minor, ⚙️T1

#1521 [Highly Customized] Jumpjet Tilts While Moving
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/_static/images/jumpjet-tilt.gif
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/TechnoType/Hooks.MatrixOp.cpp
Labels: ❓New feature, Fix and merge this, ⚙️T1

#1567 Relicense under GPL v3
  LICENSE.md
  README.md
  docs/locale/zh_CN/LC_MESSAGES/License.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
Labels: ⚙️T3, ❓Project policy

#1566 Remove blowfish.dll dependency
  CREDITS.md
  Phobos.vcxproj
  docs/Whats-New.md
  src/Blowfish/Hooks.Blowfish.cpp
  src/Blowfish/blowfish.cpp
  src/Blowfish/blowfish.h
  src/Misc/Hooks.Blowfish.cpp
Labels: Interaction, ⚙️T2

#1624 [Minor] Fix `JumpjetTilt` shadow drawing
  docs/New-or-Enhanced-Logics.md
  src/Ext/TechnoType/Hooks.MatrixOp.cpp
Labels: Tested, Minor, ⚙️T1

#1611 [Minor] Weekly Regular Documentation Revisions 04.07-04.13 - develop
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Miscellanous.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/_static/css/dark.css
  docs/_static/css/index.css
  docs/_static/images/swnext.gif
  docs/conf.py
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Miscellanous.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
  docs/requirements.txt
Labels: Minor

#1610 [Minor] Weekly Regular Documentation Revisions 04.07-04.13 - release v0.4
  docs/Miscellanous.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/_static/css/dark.css
  docs/_static/css/index.css
  docs/conf.py
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/General-Info.po
  docs/locale/zh_CN/LC_MESSAGES/Miscellanous.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1354 [Minor] Reflect Damage Tweak
  docs/New-or-Enhanced-Logics.md
  src/Ext/Techno/Hooks.ReceiveDamage.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/New/Type/AttachEffectTypeClass.cpp
  src/New/Type/AttachEffectTypeClass.h
Labels: Minor

#1167 [Minor] Base of new superweapon type
  CREDITS.md
  Phobos.vcxproj
  src/Ext/SWType/Body.cpp
  src/Ext/SWType/Body.h
  src/Ext/SWType/Hooks.cpp
  src/Ext/SWType/NewSWType/NewSWType.cpp
  src/Ext/SWType/NewSWType/NewSWType.h
  src/Phobos.Ext.cpp
Labels: Minor

#1538 [Minor] Fix `KeepTargetOnMove` will stuck unit status
  docs/Fixed-or-Improved-Logics.md
  src/Ext/Techno/Body.Update.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: ❓Phobos bug, Tested, Fix and merge this, Minor, ⚙️T1

#1518 Warhead that can not kill
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Hooks.ReceiveDamage.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/New/Entity/AttachEffectClass.h
  src/New/Type/AttachEffectTypeClass.cpp
  src/New/Type/AttachEffectTypeClass.h
Labels: Tested, ⚙️T1

#1634 [Vanillia Enhancement] Customize parasite culling targets
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
Labels: Tested, ⚙️T1, ❓Unhardcoding / Customization

#549 Mastermind Overload characteristic deharcoded
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/CaptureManager/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Fix and merge this, ⚙️T1, ❓Unhardcoding / Customization

#1607 [Dehardcode] RadarInvisible for non-enemy house
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Minor, ⚙️T1, ❓Unhardcoding / Customization

#1177 2 new tags for hiding the shield bar or recharge shields
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/New/Entity/ShieldClass.cpp
  src/New/Entity/ShieldClass.h
  src/New/Type/ShieldTypeClass.cpp
  src/New/Type/ShieldTypeClass.h
Labels: Tested, ⚙️T1

#1636 [Vanillia Enhancement] Customize harvester dump amount
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/Unit/Hooks.Harvester.cpp
Labels: Tested, ⚙️T1, ❓Unhardcoding / Customization

#1627 [Minor] Weekly Regular Documentation Revisions 04.14-04.20 - release v0.4
  CREDITS.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
Labels: Minor

#1626 [Minor] Weekly Regular Documentation Revisions 04.14-04.20 - develop
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1608 Select box logic
  CREDITS.md
  Phobos.vcxproj
  docs/User-Interface.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.Visuals.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Pips.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/New/Type/SelectBoxTypeClass.cpp
  src/New/Type/SelectBoxTypeClass.h
  src/Phobos.Ext.cpp
  src/Phobos.INI.cpp
  src/Phobos.h
Labels: Tested, ⚙️T1

#1633 [Vanillia Enhancement] Customize airstrike targets
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
  src/Ext/BuildingType/Hooks.cpp
  src/Ext/Techno/Body.Internal.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Airstrike.cpp
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/Hooks.Tint.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
Labels: Tested, ⚙️T1, ❓Unhardcoding / Customization

#1640 [Minor] Fix the issue where infantry get stuck in their current cell during movement
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Phobos bug, Needs testing, Minor, ⚙️T1

#1602 [Vanilla Enhancement] Amphibious access vehicle
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Hooks.Transport.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Fix and merge this, ⚙️T1, ❓Unhardcoding / Customization

#1628 Map Action 606-608
  CREDITS.md
  Phobos.vcxproj
  docs/AI-Scripting-and-Mapping.md
  docs/Whats-New.md
  src/Ext/House/Body.cpp
  src/Ext/House/Body.h
  src/Ext/House/Hooks.ForceEnemy.cpp
  src/Ext/TAction/Body.cpp
  src/Ext/TAction/Body.h
Labels: ❓New feature, Tested, Fix and merge this, ⚙️T1

#1559 [Minor]RadSite Performance Improve
  Phobos.vcxproj
  src/Ext/Bullet/Body.cpp
  src/Ext/Cell/Body.cpp
  src/Ext/Cell/Body.h
  src/Ext/RadSite/Body.cpp
  src/Ext/RadSite/Body.h
  src/Ext/RadSite/Hooks.cpp
  src/Phobos.Ext.cpp
Labels: ❓Phobos bug, Tested, Fix and merge this, Minor, ⚙️T2

#1646 [Minor] Fixed the issue that the default attack interval of non `Strafe` aircraft was unexpectedly changed
  src/Ext/Aircraft/Hooks.cpp
Labels: ❓Phobos bug, Needs testing, Minor, ⚙️T1

#1645 [minor] Fix the AddAnger conflict with Ares.dll
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/House/Hooks.ForceEnemy.cpp
  src/Ext/TAction/Body.cpp
Labels: ❓Phobos bug, Tested, Minor, ⚙️T1

#1644 [Phobos Fix] Fix `Strafe` spawnee may not be able to return normally since b43
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Aircraft/Hooks.cpp
  src/Ext/Techno/Body.Internal.cpp
Labels: ❓Phobos bug, Tested, ⚙️T1

#1641 [Dehardcode] Allow miners do area guard
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/Unit/Hooks.Harvester.cpp
Labels: Tested, Fix and merge this, ⚙️T1, ❓Unhardcoding / Customization

#1642 [Dehardcode] Make harvesters do addtional scan after unload
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/Unit/Hooks.Harvester.cpp
Labels: Tested, Fix and merge this, ⚙️T1, ❓Unhardcoding / Customization

#1638 [Minor] Weekly Regular Documentation Revisions 04.21-04.27 - release v0.4
  .readthedocs.yaml
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  docs/conf.py
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/requirements.txt
Labels: Minor

#1639 [Minor] Weekly Regular Documentation Revisions 04.21-04.27 - develop
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/requirements.txt
Labels: Minor

#1649 [Minor] Fix building anims being removed after Chronoshift
  src/Ext/Building/Hooks.cpp
Labels: Tested, Minor

#1426 [Minor] Make insignia respect PixelSelectionBracketDelta
  docs/Fixed-or-Improved-Logics.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.Visuals.cpp
Labels: Minor
