Repository Phobos-developers/Phobos, pull requests merged in 2025-05, with the labels that each got.

#1619 [New feature]Tiberium eater logic
  CREDITS.md
  Phobos.vcxproj
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/New/Type/Affiliated/TiberiumEaterTypeClass.cpp
  src/New/Type/Affiliated/TiberiumEaterTypeClass.h
Labels: ❓New feature, Tested, ⚙️T1

#1421 [Minor] Customizing bridge fall damageFalling down damage
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, ⚙️T1, ❓Unhardcoding / Customization

#1659 [Vanilla Fix] Fix the bug that ships can travel on elevated bridges
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Needs testing, ⚙️T1

#1656 [Minor] Weekly Regular Documentation Revisions 05.05-05.11 - develop
  docs/Fixed-or-Improved-Logics.md
  docs/Miscellanous.md
  docs/New-or-Enhanced-Logics.md
  docs/User-Interface.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Miscellanous.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1667 [Minor] Make `AirburstWeapon` and `ReturnWeapon` support `Bolt.ColorN`
  docs/Fixed-or-Improved-Logics.md
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  src/Ext/Bullet/Body.cpp
  src/Utilities/AresAddressInit.cpp
  src/Utilities/AresFunctions.h
Labels: Tested, Minor, ⚙️T1

#1664 [Minor] Shield armor fix
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
  src/Ext/Bullet/Hooks.cpp
  src/Ext/Script/Mission.Attack.cpp
  src/Ext/Techno/Body.Internal.cpp
  src/Ext/Techno/Body.Visuals.cpp
  src/Ext/Techno/Hooks.TargetEvaluation.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Detonate.cpp
  src/Utilities/GeneralUtils.cpp
  src/Utilities/GeneralUtils.h
Labels: Tested, Minor, ⚙️T1

#1662 [Minor] Update on Arcing.AllowElevationInaccuracy
  CREDITS.md
  src/Ext/Bullet/Body.cpp
  src/Ext/Bullet/Body.h
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
  src/Ext/Bullet/Hooks.Obstacles.cpp
  src/Ext/Bullet/Hooks.cpp
  src/Ext/Techno/Body.Internal.cpp
  src/Ext/Techno/Hooks.Airstrike.cpp
  src/Ext/VoxelAnim/Body.cpp
Labels: Needs testing, Minor, ⚙️T1

#531 Dehardcode the overlay 255 limit
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.Overlay.cpp
Labels: Tested, Fix and merge this, ⚙️T1

#1665 [minor] Fix `OmniFire.TurnToTarget=true` not working when the unit is rearming
  docs/Fixed-or-Improved-Logics.md
  src/Ext/Unit/Hooks.Jumpjet.cpp
Labels: ❓Phobos bug, Tested, Minor, ⚙️T1

#1668 [Minor] Weekly Regular Documentation Revisions 05.12-05.18 - release v0.4
  docs/Fixed-or-Improved-Logics.md
  docs/User-Interface.md
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1669 [Minor] Weekly Regular Documentation Revisions 05.12-05.18 - develop
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/User-Interface.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1676 [Minor] Optimize script actions codes
  src/Ext/Script/Body.cpp
  src/Ext/Script/Body.h
  src/Ext/Script/Mission.Attack.cpp
  src/Ext/Script/Mission.Move.cpp
Labels: Tested, Minor, ⚙️T1

#1565 Add improvements for airstrike flare visuals
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.Internal.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: ❓New feature, ❓Vanilla bug, Tested, ⚙️T1

#1673 [Minor] Weekly Regular Documentation Revisions 05.19-05.25 - release v0.4
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/General-Info.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
Labels: Minor

#1674 [Minor] Weekly Regular Documentation Revisions 05.19-05.25 - develop
  docs/Fixed-or-Improved-Logics.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/General-Info.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
Labels: Minor

#1681 [Minor] Fix selling bio reactor crash in dev
  src/Ext/Techno/Hooks.Transport.cpp
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Phobos bug, Tested, Minor, ⚙️T1, ❓Crash / Desync

#1683 [Minor] Optimize commit 7a1dfa1
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.Visuals.cpp
Labels: Minor, ⚙️T1

#1685 [Minor] optimization & fix batch 2
  src/Commands/ObjectInfo.cpp
  src/Ext/Aircraft/Hooks.cpp
  src/Ext/Anim/Body.cpp
  src/Ext/Building/Hooks.cpp
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
  src/Ext/Bullet/Hooks.Obstacles.cpp
  src/Ext/Bullet/Hooks.cpp
  src/Ext/Bullet/Trajectories/StraightTrajectory.cpp
  src/Ext/CaptureManager/Body.cpp
  src/Ext/House/Hooks.cpp
  src/Ext/SWType/FireSuperWeapon.cpp
  src/Ext/SWType/SWHelpers.cpp
  src/Ext/Script/Mission.Attack.cpp
  src/Ext/TEvent/Body.cpp
  src/Ext/Techno/Body.Internal.cpp
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Hooks.Airstrike.cpp
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/Techno/Hooks.Pips.cpp
  src/Ext/Techno/Hooks.ReceiveDamage.cpp
  src/Ext/Techno/Hooks.TargetEvaluation.cpp
  src/Ext/Techno/Hooks.Transport.cpp
  src/Ext/Techno/Hooks.WeaponEffects.cpp
  src/Ext/Techno/Hooks.WeaponRange.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/Techno/WeaponHelpers.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Hooks.Teleport.cpp
  src/Ext/TechnoType/Hooks.cpp
  src/Ext/TerrainType/Hooks.Passable.cpp
  src/Ext/Unit/Hooks.DeploysInto.cpp
  src/Ext/Unit/Hooks.Unload.cpp
  src/Ext/WarheadType/Detonate.cpp
  src/Misc/Hooks.AlphaImage.cpp
  src/Misc/Hooks.BugFixes.cpp
  src/Misc/Selection.cpp
  src/New/Entity/AttachEffectClass.cpp
  src/New/Entity/AttachEffectClass.h
  src/New/Entity/ShieldClass.cpp
  src/Utilities/EnumFunctions.cpp
Labels: Tested, Minor
