Repository Phobos-developers/Phobos, pull requests merged in 2025-08, with the labels that each got.

#1787 [Minor] Weekly Regular Documentation Revisions 07.28-08.03 - develop
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Contributing.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
Labels: Minor

#1791 [Vanilla Enhancement] Customize squid grapple animation
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
Labels: Tested, ⚙️T1, ❓Unhardcoding / Customization

#1793 [Minor] Weekly Regular Documentation Revisions 08.04-08.10 - release v0.4
  docs/New-or-Enhanced-Logics.md
Labels: Minor

#1794 [Minor] Weekly Regular Documentation Revisions 08.04-08.10 - develop
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1806 [Minor] Optimize kick out stuck units
  src/Ext/Building/Body.cpp
  src/Ext/Building/Hooks.cpp
  src/Ext/BuildingType/Hooks.cpp
Labels: Tested, Minor

#1813 [Customized] Reverse engineer warhead
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Detonate.cpp
  src/Utilities/AresAddressInit.cpp
  src/Utilities/AresFunctions.h
Labels: Tested, ⚙️T1

#1818 [Minor] Speed=0 extension 2
  src/Ext/Script/Mission.Attack.cpp
  src/Ext/Unit/Hooks.DisallowMoving.cpp
Labels: Tested, Minor, ⚙️T1

#1470 [Customized] AI base construction modification
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/BuildingType/Hooks.Placing.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
Labels: Tested, ⚙️T1

#1318 [Highly Customized] Jumpjet Climbing Logic Enhancement
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Unit/Hooks.Jumpjet.cpp
Labels: Tested, ⚙️T1

#1804 [Minor] Weekly Regular Documentation Revisions 08.11-08.17 - release v0.4
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Miscellanous.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1823 [Minor] Weekly Regular Documentation Revisions 08.18-08.24 - release v0.4
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1824 [Minor] Weekly Regular Documentation Revisions 08.18-08.24 - develop
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1825 Improve/optimize arbitrary weapon/warhead detonation code
  docs/Whats-New.md
  src/Ext/Bullet/Body.cpp
  src/Ext/Bullet/Body.h
  src/Ext/Bullet/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Scenario/Body.cpp
  src/Ext/Scenario/Body.h
  src/Ext/WarheadType/Body.cpp
  src/Ext/WeaponType/Body.cpp
Labels: Tested, Needs testing, ⚙️T1

#1829 [Minor] Weekly Regular Documentation Revisions 08.25-08.31 - release v0.4
  docs/User-Interface.md
Labels: Minor

#1830 [Minor] Weekly Regular Documentation Revisions 08.25-08.31 - develop
  docs/Fixed-or-Improved-Logics.md
  docs/User-Interface.md
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor
