Repository Phobos-developers/Phobos, pull requests merged in 2025-07, with the labels that each got.

#1678 Event 606: AttachEffect is attaching to a Techno
  CREDITS.md
  docs/AI-Scripting-and-Mapping.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
  src/Ext/TEvent/Body.cpp
  src/Ext/TEvent/Body.h
  src/New/Entity/AttachEffectClass.cpp
  src/New/Type/AttachEffectTypeClass.cpp
  src/New/Type/AttachEffectTypeClass.h
Labels: ❓New feature, Tested, ⚙️T1

#1745 [Minor] Fix number of issues with health threshold checks
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
  src/Ext/Bullet/Hooks.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/WeaponHelpers.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Ext/WarheadType/Detonate.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: Tested, Minor

#1199 Linked superweapons
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/SWType/Body.cpp
  src/Ext/SWType/Body.h
  src/Ext/SWType/FireSuperWeapon.cpp
Labels: Needs testing, ⚙️T1

#1746 [Minor] Weekly Regular Documentation Revisions 06.30-07.06 - release v0.4
  docs/AI-Scripting-and-Mapping.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1747 [Minor] Weekly Regular Documentation Revisions 06.60-07.06 - develop
  docs/AI-Scripting-and-Mapping.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1338 Delayed fire weapons
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Anim/Body.cpp
  src/Ext/Anim/Body.h
  src/Ext/Infantry/Hooks.Firing.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/Unit/Hooks.Firing.cpp
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: Tested, Fix and merge this, ⚙️T1

#1754 Smart default value of `DamageAlliesMultiplier` and `DamageOwnerMultiplier`
  docs/New-or-Enhanced-Logics.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Hooks.ReceiveDamage.cpp
Labels: Minor

#1759 Fix vehicle with `AttackMove.StopWhenTargetAcquired` incorrectly lost megamission in some rare situation
  src/Ext/Techno/Hooks.cpp
Labels: ❓Phobos bug, Minor, ⚙️T1

#1757 [Minor] Fix to InfantryType
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Infantry/Hooks.Firing.cpp
  src/Ext/Infantry/Hooks.cpp
  src/Ext/Techno/Hooks.Firing.cpp
  src/Misc/Hooks.BugFixes.cpp
Labels: Tested, Minor, ⚙️T1, ❓Unhardcoding / Customization

#1752 [Minor] Weekly Regular Documentation Revisions 07.07-07.13 - release v0.4
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1753 [Minor] Weekly Regular Documentation Revisions 07.07-07.13 - develop
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1772 Improve attached animation position customization
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Anim/Hooks.cpp
  src/Ext/AnimType/Body.cpp
  src/Ext/AnimType/Body.h
Labels: Tested, Minor, ⚙️T1

#1773 [Minor] Remove NONE_STR shield
  src/Ext/Techno/Body.Update.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/WarheadType/Detonate.cpp
  src/New/Entity/ShieldClass.cpp
Labels: Tested, Minor, ⚙️T1

#1774 KeepRange.EarlyStopFrame
  docs/New-or-Enhanced-Logics.md
  src/Ext/WeaponType/Body.cpp
  src/Ext/WeaponType/Body.h
Labels: Tested, Minor, ⚙️T1

#1775 [Phobos Fix] Fix the bug that ship will dead if stop under bridge
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Phobos bug, Tested, Minor, ⚙️T1

#1777 [Vanilla Fix] Fix the bug that passengers' Temporal attacks wouldn't stop when an OpenTopped vehicle was frozen by a Temporal warhead
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1

#1771 [Minor] DeployFireWeaponFix Optimization
  src/Ext/Infantry/Hooks.cpp
  src/Misc/Hooks.BugFixes.cpp
Labels: Tested, Minor, ⚙️T1

#1769 [Minor] Weekly Regular Documentation Revisions 07.14-07.20 - release v0.4
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/_static/images/convertwh.gif
  docs/_static/images/uh0-be.gif
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1770 [Minor] Weekly Regular Documentation Revisions 07.14-07.20 - develop
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/_static/images/convertwh.gif
  docs/_static/images/fallingdowndamage.gif
  docs/_static/images/uh0-be.gif
  docs/_static/images/vehiclefireup.gif
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1778 [Vanilla Fix] Some bugfixes
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.Visuals.cpp
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1

#1784 [Minor] Fixed attack mouse action
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: Minor

#1780 [Minor] Weekly Regular Documentation Revisions 07.21-07.27 - develop
  README.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  docs/_static/images/VoxelLightSourceComparison2.png
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
Labels: Minor

#1692 [Minor] Change overlays >255 to use NewINIFormat == 5
  CREDITS.md
  docs/AI-Scripting-and-Mapping.md
  docs/Whats-New.md
  src/Misc/Hooks.Overlay.cpp
Labels: Fix and merge this, Minor, ⚙️T1

#1767 [Minor] Fix #1763 code thing
  src/Ext/TechnoType/Hooks.MatrixOp.cpp
Labels: Minor
