Repository Phobos-developers/Phobos, pull requests merged in 2025-06, with the labels that each got.

#1679 [Minor] Weekly Regular Documentation Revisions 05.26-06.01 - release v0.4
  docs/AI-Scripting-and-Mapping.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  docs/locale/zh_CN/LC_MESSAGES/index.po
Labels: Minor

#1693 [Minor] Fix `ForceWeapon.InRange` not taking effect when attacking non-techno
  docs/New-or-Enhanced-Logics.md
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/WeaponHelpers.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Minor

#1384 Exclusive SuperWeapon Sidebar
  CREDITS.md
  Phobos.vcxproj
  docs/User-Interface.md
  docs/Whats-New.md
  docs/_static/images/sw_sidebar-01-on.png
  docs/_static/images/sw_sidebar-02-on.png
  src/Commands/Commands.cpp
  src/Commands/Commands.h
  src/Commands/FireTacticalSW.h
  src/Commands/ToggleSWSidebar.cpp
  src/Commands/ToggleSWSidebar.h
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/SWType/Body.cpp
  src/Ext/SWType/Body.h
  src/Ext/SWType/SWHelpers.cpp
  src/Ext/Scenario/Body.cpp
  src/Ext/Scenario/Body.h
  src/Ext/Side/Body.cpp
  src/Ext/Side/Body.h
  src/Ext/Sidebar/Body.cpp
  src/Ext/Sidebar/Hooks.cpp
  src/Ext/Sidebar/SWSidebar/SWButtonClass.cpp
  src/Ext/Sidebar/SWSidebar/SWButtonClass.h
  src/Ext/Sidebar/SWSidebar/SWColumnClass.cpp
  src/Ext/Sidebar/SWSidebar/SWColumnClass.h
  src/Ext/Sidebar/SWSidebar/SWSidebarClass.cpp
  src/Ext/Sidebar/SWSidebar/SWSidebarClass.h
  src/Ext/Sidebar/SWSidebar/ToggleSWButtonClass.cpp
  src/Ext/Sidebar/SWSidebar/ToggleSWButtonClass.h
  src/Misc/PhobosToolTip.cpp
  src/Phobos.INI.cpp
  src/Phobos.h
  src/Utilities/AresAddressInit.cpp
  src/Utilities/AresFunctions.h
Labels: ❓New feature, Major, Tested, Fix and merge this, ⚙️T2

#1700 [Minor] Optimize `GeneralUtils::GetWarheadVersusArmor()`
  src/Utilities/GeneralUtils.cpp
  src/Utilities/GeneralUtils.h
Labels: Interaction, Tested, Minor, ⚙️T1

#1704 [Minor] Supplementary Convert.ResetMindControl
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  src/Ext/Techno/Body.Update.cpp
Labels: Minor

#1684 [Minor] Turretless vehicles with Voxel=no use FireUp
  CREDITS.md
  Phobos.vcxproj
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/Unit/Hooks.Firing.cpp
Labels: ❓New feature, Tested, Minor, ⚙️T1

#1654 [Minor] Extended `ExtendedAircraftMissions`
  docs/Fixed-or-Improved-Logics.md
  src/Ext/Aircraft/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓New feature, Tested, Minor, ⚙️T1

#1691 [Minor] Weekly Regular Documentation Revisions 06.02-06.08 - develop
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
  src/Ext/Techno/Body.Update.cpp
Labels: Minor

#1689 Infantry support for IsGattling
  CREDITS.md
  Phobos.vcxproj
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.cpp
  src/Ext/Infantry/Hooks.Firing.cpp
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, ⚙️T1, ❓Unhardcoding / Customization

#1675 [Minor] Try optimize `TechnoClass_PointerGotInvalid_Airstrike`
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Airstrike.cpp
Labels: Needs testing, Minor, ⚙️T1

#1711 [Minor] SWSidebar allows multiple additions of the same super weapon type
  src/Ext/Sidebar/SWSidebar/SWColumnClass.cpp
  src/Ext/Sidebar/SWSidebar/SWColumnClass.h
  src/Ext/Sidebar/SWSidebar/SWSidebarClass.cpp
Labels: Tested, Minor, ⚙️T1

#1715 [Vanilla Fix] Fix the bug that `DamageSelf` and `AllowDamageOnSelf` are ineffective on airforce
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1

#1398 Warhead activation target health thresholds
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
  src/Ext/RadSite/Body.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
Labels: Tested, Fix and merge this, ⚙️T1

#1160 Display "Banners" on screen via trigger actions（pr #563)
  CREDITS.md
  Phobos.vcxproj
  docs/AI-Scripting-and-Mapping.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/TAction/Body.cpp
  src/Ext/TAction/Body.h
  src/Misc/Hooks.UI.cpp
  src/New/Entity/BannerClass.cpp
  src/New/Entity/BannerClass.h
  src/New/Type/BannerTypeClass.cpp
  src/New/Type/BannerTypeClass.h
  src/Phobos.Ext.cpp
  src/Utilities/Enum.h
  src/Utilities/TemplateDef.h
Labels: ❓New feature, Tested, ⚙️T2

#1728 [Minor] Damage.DealtByInvoker tweak & Damage.ApplyFIrepowerMult
  docs/Fixed-or-Improved-Logics.md
  src/Ext/Anim/Hooks.cpp
  src/Ext/AnimType/Body.cpp
  src/Ext/AnimType/Body.h
Labels: Minor, ⚙️T1

#1733 [Minor] Optimize Interceptor
  src/Ext/Techno/Body.Update.cpp
Labels: Tested, Minor, ⚙️T1

#1734 [Vanilla Enhancement] `DebrisMinimums`
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Bullet/Hooks.DetonateLogics.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
  src/Misc/Hooks.BugFixes.cpp
Labels: Tested, ⚙️T1, ❓Unhardcoding / Customization

#1731 [Minor] Weekly Regular Documentation Revisions 06.16-06.22 - develop
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/locale/zh_CN/LC_MESSAGES/AI-Scripting-and-Mapping.po
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1730 Several attack move enhancement
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/Hooks.TargetEvaluation.cpp
  src/Ext/Techno/Hooks.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: ❓New feature, Tested, ⚙️T1

#1695 MultiWeapon
  CREDITS.md
  Phobos.vcxproj
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  docs/_static/images/multiweapons.gif
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/Techno/WeaponHelpers.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
  src/Ext/TechnoType/Hooks.MultiWeapon.cpp
Labels: Tested, ⚙️T1, ❓Unhardcoding / Customization

#1739 Fix the bug that `OpenToppedWarpDistance` is calculated incorrectly for building target
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Needs testing, ⚙️T1

#1737 [Vanilla Enhancement] Task subtitles display in the middle of the screen
  CREDITS.md
  Phobos.vcxproj
  docs/User-Interface.md
  docs/Whats-New.md
  docs/_static/images/messagedisplayincenter.png
  src/Ext/Scenario/Body.cpp
  src/Ext/Scenario/Body.h
  src/Misc/Hooks.Message.cpp
  src/Phobos.INI.cpp
  src/Phobos.h
Labels: Tested, ⚙️T1

#1736 [Minor] Weekly Regular Documentation Revisions 06.23-06.29 - develop
  docs/Fixed-or-Improved-Logics.md
  docs/New-or-Enhanced-Logics.md
  docs/User-Interface.md
  docs/Whats-New.md
  docs/_static/images/selectbox.png
  docs/locale/zh_CN/LC_MESSAGES/CREDITS.po
  docs/locale/zh_CN/LC_MESSAGES/Fixed-or-Improved-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/New-or-Enhanced-Logics.po
  docs/locale/zh_CN/LC_MESSAGES/User-Interface.po
  docs/locale/zh_CN/LC_MESSAGES/Whats-New.po
Labels: Minor

#1742 [Vanilla Fix] Fix some issues about jumpjet harvester
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.Grinding.cpp
  src/Ext/Unit/Hooks.Harvester.cpp
Labels: ❓Vanilla bug, Tested, ⚙️T1, ❓Crash / Desync
