Repository Phobos-developers/Phobos, pull requests merged in 2025-02, with the labels that each got.

#1511 [Minor][New Feature] Skip anim delay for burst fire
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.cpp
  src/Ext/BuildingType/Body.cpp
  src/Ext/BuildingType/Body.h
Labels: Fixed / Improved Logic, Fix and merge this, Minor

#1516 NoSecondaryWeaponFallback can now cancel the weapon selection for walls.
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/WeaponHelpers.cpp
Labels: Phobos bug, Minor

#1501 [Minor] Deactivated check & allow passenger deletion under EMP
  docs/New-or-Enhanced-Logics.md
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/Unit/Hooks.Jumpjet.cpp
  src/New/Type/Affiliated/PassengerDeletionTypeClass.cpp
  src/New/Type/Affiliated/PassengerDeletionTypeClass.h
Labels: Minor

#1505 [Minor] AuxBuilding and SW.Aux/NegBuildings considering building upgrades
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/SWType/SWHelpers.cpp
Labels: Fix and merge this, Minor

#1495 [Dehardcode] Type select for buildings
  CREDITS.md
  docs/User-Interface.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Hooks.cpp
Labels: Fix and merge this

#1343 [Dehardcode]Enable waypoint for buildings
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Building/Hooks.cpp
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
Labels: Fix and merge this

#1512 [Dehardcode] Bunkerable dehardcode
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Needs improvement

#1529 [Vanilla Fix] Fix impassable invisible barrier created by chronosphere on uncrushable unit
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Misc/Hooks.BugFixes.cpp
Labels: Tested

#1420 [Minor] Fix Ammo features and tank bunkers.
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Unit/Hooks.Unload.cpp
Labels: Minor

#1524 [Minor] Disallow other actions for building in planning mode
  src/Ext/Building/Hooks.cpp
Labels: Minor

#1315 Fix #1106 : Deployer = yes to no infantry conversion sequence update
  CREDITS.md
  docs/Whats-New.md
  src/Ext/Techno/Body.Update.cpp
Labels: Minor

#1231 [Minor] Exception handler control via command line argument
  CREDITS.md
  docs/Miscellanous.md
  docs/Whats-New.md
  src/Phobos.cpp
Labels: Fix and merge this, Minor

#1530 [Minor] Fix Insignia.Weapon parsing
  docs/Whats-New.md
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: ❓Phobos bug, Tested, Minor, ⚙️T1, ❓Crash / Desync

#1465 [Vanilla Improvement] No turret unit turn to the target when rearming
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Fix and merge this

#1307 [Customized] Damage multiplier for different houses
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Rules/Body.cpp
  src/Ext/Rules/Body.h
  src/Ext/Techno/Hooks.ReceiveDamage.cpp
  src/Ext/WarheadType/Body.cpp
  src/Ext/WarheadType/Body.h
Labels: Tested, Fix and merge this

#1548 [Minor] Ground units being lifted will not turn to attacker
  src/Ext/TechnoType/Hooks.MatrixOp.cpp
Labels: ❓Phobos bug, Minor, ⚙️T1

#1527 [Minor] Add validity check for NearByLocation and fix incorrect usage of TryGetCellAt and GetCellAt
  src/Ext/Anim/Hooks.AnimCreateUnit.cpp
  src/Ext/Anim/Hooks.cpp
  src/Ext/House/Body.cpp
  src/Ext/RadSite/Body.cpp
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Hooks.Firing.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TerrainType/Hooks.cpp
  src/Misc/Hooks.Crates.cpp
Labels: ❓Phobos bug, Minor, ⚙️T1

#1541 Destroyed unit leaves sensors fix
  CREDITS.md
  docs/Fixed-or-Improved-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Unit/Hooks.Jumpjet.cpp
  src/Misc/Hooks.BugFixes.cpp
Labels: ❓Vanilla bug, Needs testing, ⚙️T1

#1469 [Customized] Extended gattling rate down logic
  CREDITS.md
  docs/New-or-Enhanced-Logics.md
  docs/Whats-New.md
  src/Ext/Techno/Body.Update.cpp
  src/Ext/Techno/Body.cpp
  src/Ext/Techno/Body.h
  src/Ext/Techno/Hooks.Misc.cpp
  src/Ext/TechnoType/Body.cpp
  src/Ext/TechnoType/Body.h
Labels: Tested, Fix and merge this
